{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        img {
            margin: 30px;
        }
    </style>
</head>
<body>
<img src="{% static 'index/img/pngwing.com.png' %}" alt="альтернативный текст" class="center" width="240" height="240" >
<h1>Запись к Ритке на мастер класс </h1>
<div class="container">
<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Записаться</button>

</form>
</div>

{% if message %}
<div class="succes">
<h4><div class="green">{{ cleaned_data.name }}</div> Вы успешно записаны на мастер класс <div class="green">№{{ cleaned_data.master_class }}</div>
    который пройдет <div class="green">{{ cleaned_data.date }}</div></h4>
</div>
{% endif %}

</body>
</html>